.about {
  display: flex;
  flex-wrap: wrap;
  row-gap: 35px;
  column-gap: 30px;
  justify-content: center;
  max-width: 1232px;
  width: 100%;
  margin-bottom: 85px;
  background-color: transparent;
  padding: 15px 0;
  border-radius: 10px;
}

.about__image {
  max-width: 403px;
  width: 100%;
  max-height: 403px;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.about__content {
  display: flex;
  flex-direction: column;
  max-width: 739px;
  width: 100%;
  margin-bottom: 25px;
}

.about__heading {
  font-family: "Prompt", "Arial", "Helvetica", sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 2px;
  text-align: left;
  text-transform: uppercase;
  color: #009e00;
  margin: 0;
}

.about__subheading {
  font-family: "Prompt", "Arial", "Helvetica", sans-serif;
  font-size: clamp(36px, 5vw, 43px);
  font-weight: 400;
  line-height: 1.2;
  text-align: left;
  color: #085f09;
  margin: 10px 0 5px;
}

.about__paragraph {
  font-family: "Mulish", "Arial", "Helvetica", sans-serif;
  font-size: clamp(16px, 5vw, 20px);
  font-weight: 300;
  line-height: 1.5;
  text-align: left;
  color: #000;
  margin: 0;
}

.about__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 35px;
  column-gap: 30px;
  margin: 0 0 45px 0;
}

.about__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 381px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

.about__photo {
  max-width: 381px;
  width: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.about__card-name {
  font-family: "Prompt", "Arial", "Helvetica", sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 1.2;
  text-align: left;
  margin: 30px auto 0 30px;
}

.about__card-text {
  font-family: "Mulish", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
  text-align: left;
  max-width: 318px;
  width: 100%;
  margin: 30px auto 30px 30px;
}

@media screen and (max-width: 1231px) {
  .about__image {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .about {
    max-width: 800px;
  }
}

@media screen and (max-width: 700px) {
  .about {
    margin: 0;
  }
}
