.colaborations {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 2100px;
  overflow: hidden;
}

.colaborations__heading {
  font-family: "Prompt", "Arial", "Helvetica", sans-serif;
  font-size: clamp(32px, 5vw, 96px);
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  margin: 20px 0 25px 0;
  padding: 10px;
  color: #085f09;
}

.colaborations__container {
  display: grid;
  grid-template-columns: repeat(5, 1232px);
  column-gap: 70px;
  position: relative;
  width: 100%;
  height: 2000px;
  margin-left: 110%;
}

.colaborations__colab {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1232px;
  width: 100%;
  max-height: 550px;
  height: 100%;
  margin: 0;
}

.colaborations__collage {
  margin: 0;
  padding: 0;
  max-width: 700px;
  width: 100%;
  max-height: 550px;
  height: 100%;
}

.colaborations__collage_peru {
  display: grid;
  grid-template-areas: "peru1 peru2";
  grid-template-columns: minmax(100px, 450px) minmax(75px, 300px);
  grid-gap: 20px 17px;
}

.colaborations__collage_mexico {
  display: grid;
  grid-template-areas: "mexico1 mexico2";
  grid-template-columns: minmax(85px, 400px) minmax(65px, 350px);
  grid-gap: 20px 17px;
  align-self: center;
}

.colaborations__collage_roma {
  display: grid;
  grid-template-areas:
    "roma1 roma3"
    "roma2 roma3";
  grid-template-columns: minmax(65px, 350px) minmax(85px, 400px);
  grid-gap: 20px 17px;
}

.colaborations__image {
  max-width: 800px;
  width: 100%;
  max-height: 500px;
  height: 100%;
}

.colaborations__image_peru1 {
  grid-area: peru1;
  max-height: 450px;
  height: 100%;
}

.colaborations__image_peru2 {
  grid-area: peru2;
  max-width: 300px;
  width: 100%;
  max-height: 400px;
  height: 100%;
  align-self: center;
}

.colaborations__image_mexico1 {
  grid-area: mexico1;
}

.colaborations__image_mexico2 {
  grid-area: mexico2;
}

.colaborations__image_roma1 {
  grid-area: roma1;
}

.colaborations__image_roma2 {
  grid-area: roma2;
}

.colaborations__image_roma3 {
  grid-area: roma3;
  align-self: center;
}

.colaborations__image_panama1 {
  max-width: 450px;
  width: 100%;
}

.colaborations__wrapper {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  margin: 0 0 0 25px;
  align-self: center;
}

.colaborations__country {
  font-family: "Mulish", "Arial", "Helvetica", sans-serif;
  font-size: clamp(32px, 5vw, 120px);
  font-weight: 400;
  line-height: 1.2;
  display: block;
  text-align: left;
  padding-right: 115px;
  color: #085f09;
  margin: 0 0 50px 0;
}

.colaborations__text {
  font-family: "Mulish", "Arial", "Helvetica", sans-serif;
  font-size: clamp(16px, 5vw, 20px);
  font-weight: 300;
  line-height: 1.2;
  text-align: left;
  margin: 0 0 0 45px;
  padding: 10px;
  align-self: center;
}

@media screen and (min-width: 1441px) {
  .colaborations {
    height: 1900px;
  }

  .colaborations__container {
    height: 700px;
  }
}

@media screen and (max-width: 1290px) {
  .colaborations {
    height: 1700px;
    row-gap: 60px;
  }
}

@media screen and (max-width: 1023px) {
  .colaborations {
    height: max-content;
    justify-content: center;
    align-items: center;
  }

  .colaborations__heading {
    transform: translateY(150px);
    opacity: 0;
    transition: transform 0.25s ease-in-out, opacity 0.1s ease-in-out,
      box-shadow 0.3s ease-in-out;
  }

  .colaborations__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 100px;
    height: max-content;
    margin-left: 0;
  }

  .colaborations__colab {
    max-width: 800px;
    width: 100%;
    max-height: 550px;
    height: 100%;
    transform: translateY(150px);
    opacity: 0;
    transition: transform 0.25s ease-in-out, opacity 0.1s ease-in-out,
      box-shadow 0.3s ease-in-out;

    &:hover {
      box-shadow: 8px 8px 50px rgba(0, 0, 0, 0.1);
    }
  }

  .colaborations__image_map {
    max-width: 400px;
  }

  .colaborations__image_panama1 {
    max-width: 250px;
    width: 100%;
  }

  .colaborations__wrapper {
    row-gap: 25px;
  }

  .colaborations__country {
    margin: 0;
  }

  .colaborations__text {
    margin: 0;
    padding: 0 0 0 10px;
  }

  .colaboration_show {
    transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .colaborations {
    height: 100%;
  }

  .colaborations__colab {
    flex-direction: column;
    row-gap: 45px;
    max-height: max-content;

    &:hover {
      box-shadow: none;
    }
  }

  .colaborations__collage {
    height: 300px;
  }

  .colaborations__image_roma1 {
    height: 145px;
  }

  .colaborations__image_roma2 {
    height: 145px;
  }
}

@media all and (max-width: 542px) {
  .colaborations__collage {
    height: 250px;
  }

  .colaborations__image_roma1 {
    height: 120px;
  }

  .colaborations__image_roma2 {
    height: 120px;
  }

  .colaborations__image_mexico1 {
    height: 250px;
  }

  .colaborations__image_mexico2 {
    height: 250px;
  }

  .colaborations__image_peru1 {
    height: 250px;
  }

  .colaborations__image_peru2 {
    height: 250px;
  }

  .colaborations__text {
    padding: 0;
  }
}

@media screen and (max-width: 375px) {
  .colaborations__text {
    max-width: max-content;
  }
}
