.colaborations {
}

.colaborations__heading {
  font-family: "Prompt", "Arial", "Helvetica", sans-serif;
  font-size: clamp(32px, 5vw, 96px);
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  margin: 20px 0 25px 0;
  padding: 10px;
  color: #085f09;
}

.colaborations__colab {
  display: flex;
  max-width: 1232px;
  width: 100%;
  max-height: 1232px;
  height: 100%;
}

.colaborations__image {
  max-width: 800px;
  width: 100%;
  max-height: 500px;
  height: 100%;
}

.colaborations__wrapper {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  margin: 0 0 0 25px;
  align-self: center;
}

.colaborations__country {
  font-family: "Mulish", "Arial", "Helvetica", sans-serif;
  font-size: clamp(32px, 5vw, 120px);
  font-weight: 400;
  line-height: 1.2;
  display: block;
  text-align: left;
  padding-right: 115px;
  color: #085f09;
  margin: 0 0 50px 0;
}

.colaborations__text {
  font-family: "Mulish", "Arial", "Helvetica", sans-serif;
  font-size: clamp(16px, 5vw, 20px);
  font-weight: 300;
  line-height: 1.2;
  text-align: left;
  margin: 0;
  padding: 10px;
  align-self: center;
}
