@keyframes backChange {
  0% {
    background-image: url(../images/contact1.jpg);
  }
  20% {
    background-image: url(../images/contact2.jpg);
  }
  40% {
    background-image: url(../images/contact2.jpg);
  }
  60% {
    background-image: url(../images/contact3.jpg);
  }
  80% {
    background-image: url(../images/contact3.jpg);
  }
  100% {
    background-image: url(../images/contact1.jpg);
  }
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.contact__heading {
  font-family: "Prompt", "Arial", "Helvetica", sans-serif;
  font-size: clamp(32px, 5vw, 96px);
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  margin: 0 0 20px 0;
}

.contact__container {
  display: flex;

  align-items: center;
  column-gap: 50px;
  row-gap: 50px;
  max-width: 1000px;
  width: 100%;
  max-height: 500px;
  height: 100%;
  background-color: #fff;
  border-radius: 10px;
}

.contact__sub-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  width: 100%;
  margin: auto;
}

.contact__sub-container-text {
  font-family: "Prompt", "Arial", "Helvetica", sans-serif;
  font-size: 23px;
  font-weight: 400;
  line-height: 1.2;
  text-align: left;
  margin: 0;
}

.contact__registration-form {
  max-width: 400px;
  width: 100%;
  background: transparent;
  padding: 25px 0 105px 0;
}

.contact__form-text {
  position: relative;
  z-index: 4;
  background: white;
  padding: 20px 40px;
  border-radius: 15px 15px 0 0;
}
.contact__form-heading {
  font-family: "Prompt", "Arial", "Helvetica", sans-serif;
  font-size: clamp(16px, 5vw, 23px);
  font-weight: 600;
  line-height: 1.2;
  text-align: left;
  margin: 0;
}
.contact__form-paragraph {
  word-spacing: 0px;
  color: #9facb6;
  margin: 0;
  margin-top: 5px;
  font-family: "Mulish", "Arial", "Helvetica", sans-serif;
  font-size: 17px;
  font-weight: 300;
  line-height: 1.2;
  text-align: left;
}

.contact__gallery {
  max-width: 450px;
  width: 100%;
  height: 100%;
  background-image: url(../images/contact1.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  animation: backChange 10s infinite;
}

.contact__success {
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  left: 50%;
  transform: translate(-50%, 0);
  height: 75px;
  border-radius: 0 0 15px 15px;
  overflow: hidden;
  z-index: 2;
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in;
  background: limegreen;
  margin-top: -75px;
}
.contact__success p {
  color: white;
  font-family: "Mulish", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  width: 100%;
  text-align: center;
}

.contact__divisor {
  font-family: "Mulish", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
  text-align: center;
}

.contact__social {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  width: 100%;
}

.contact__social-heading {
  font-family: "Mulish", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
  text-align: center;
  max-width: 400px;
  width: 100%;
}

.contact__button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 150px;
  width: 100%;
  height: 35px;
  margin-bottom: 10px;
  border: none;
  border-radius: 10px;
  transition: border-radius 0.35s ease-in-out;
  color: #fff;

  &:hover {
    border-radius: 0;
    cursor: pointer;
  }
}

.contact__button_fb {
  background-color: #1877f2;
}

.contact__button_ig {
  background: linear-gradient(
    to right,
    rgba(255, 213, 33, 1),
    rgba(255, 208, 32, 1),
    rgba(254, 192, 30, 1),
    rgba(252, 167, 27, 1),
    rgba(250, 131, 22, 1),
    rgba(248, 85, 16, 1),
    rgba(245, 30, 9, 1),
    rgba(243, 0, 5, 1),
    rgba(242, 0, 7, 1),
    rgba(225, 0, 59, 1),
    rgba(211, 0, 103, 1),
    rgba(199, 0, 136, 1),
    rgba(191, 0, 160, 1),
    rgba(187, 0, 175, 1),
    rgba(185, 0, 180, 1)
  );
}

.contact__button_wp {
  background-color: #25d366;
}

.contact__logo {
  max-width: 25px;
  width: 100%;
  max-height: 25px;
  height: 100%;
}
