.gallery {
  position: relative;
  height: 100vh;
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: #000;
  margin-bottom: 150px;
  overflow: hidden;
  background-image: url("../images/peaches.jpg");
  background-size: cover;
}

.gallery__container {
  padding: 20px;
  max-width: 1232px;
  width: 100%;
  max-height: 600px;
  height: 100%;
  display: flex;
  align-items: center;
  background: transparent url(../images/backGallery.png) no-repeat center;
  background-size: cover;
  border-radius: 10px;
  transition: color 0.5s ease-in-out;

  &:hover {
    color: #fff;
  }
}

.gallery__heading {
  font-family: "Prompt", "Arial", "Helvetica", sans-serif;
  font-size: clamp(43px, 5vw, 63px);
  font-weight: 400;
  line-height: 1.2;
  text-align: left;
  margin: 0;
  padding: 0;
  max-width: 550px;
}

.gallery__span {
  font-family: "Mulish", "Arial", "Helvetica", sans-serif;
  font-size: clamp(16px, 5vw, 30px);
  font-weight: 300;
  line-height: 1.2;
  text-align: left;
  color: #000;
  display: block;
}

.gallery-wrap {
  display: flex;
  flex-direction: row;
  max-width: 682px;
  min-width: 590px;
  width: 100%;
  height: 50vh;
}

.gallery__item {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: flex 0.8s ease;

  &:hover {
    flex: 5;
  }
}

.gallery__item_1 {
  background-image: url("../images/Services3.jpg");
}

.gallery__item_2 {
  background-image: url("../images/Services7.jpg");
}

.gallery__item_3 {
  background-image: url("../images/peaches.jpg");
}

.gallery__item_4 {
  background-image: url("../images/tomatoes.jpg");
}

.gallery__item_5 {
  background-image: url("../images/Services2.jpg");
}

@media screen and (min-width: 1232px) {
  .gallery {
    height: 800px;
  }
}

@media screen and (max-width: 768px) {
  .gallery {
    flex-direction: column;
    background: transparent;
  }

  .gallery__container {
    flex-direction: column;
  }
}

@media screen and (max-width: 700px) {
  .gallery__container {
    background-image: none;
  }
}
