@keyframes change {
  0% {
    background-image: url(../images/FdTTomatoes.jpg);
  }
  12% {
    background-image: url(../images/FdTTomatoes.jpg);
  }
  24% {
    background-image: url(../images/Services6.jpg);
  }
  36% {
    background-image: url(../images/Services6.jpg);
  }
  48% {
    background-image: url(../images/Header4.jpg);
  }
  60% {
    background-image: url(../images/Header4.jpg);
  }
  72% {
    background-image: url(../images/FdTMerch.jpg);
  }
  84% {
    background-image: url(../images/FdTMerch.jpg);
  }
  100% {
    background-image: url(../images/FdTTomatoes.jpg);
  }
}

@keyframes narrowDown {
  0% {
    transform: translateY(0);
  }
  15% {
    transform: translateY(-15px);
  }
  30% {
    transform: translateY(0);
  }
  45% {
    transform: translateY(-5px);
  }
  60% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  width: 100%;
  max-height: 828px;
  height: 100%;
  background: transparent url("../images/FdTTomatoes.jpg") no-repeat center;
  background-size: cover;
  color: #fff;
  animation: change 25s infinite;
}

.header__overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  background-size: cover;
  width: inherit;
}

.header__nav-bar {
  z-index: 1;
  max-width: 2400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  background-color: transparent;
  padding: 10px;
  /*Animation styles*/
  position: fixed;
  top: 0;
  -webkit-transition: -webkit-transform 0.5s 0.3s ease;
  -moz-transition: -moz-transform 0.7s 0.3s ease;
  -ms-transition: -ms-transform 0.5s 0.3s ease;
  transition: transform 0.5s 0.3s ease;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.header__nav-bar_hidden {
  -webkit-transform: translate(0, -100%);
  -moz-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  transform: translate(0, -100%);
  -webkit-backface-visibility: hidden;
}

.header__nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1232px;
  width: 100%;
  margin: 0;
}

.header__logo {
  max-width: 150px;
  width: 100%;
  max-height: 125px;
  height: 100%;
  padding: 10px;
}

.header__text {
  max-width: 1232px;
  width: 100%;
  margin: 0;
  padding: 200px 0 200px 0;
  color: #000;
}

.header__heading {
  font-family: "Prompt", "Arial", "Helvetica", sans-serif;
  font-size: clamp(32px, 5vw, 120px);
  font-weight: 500;
  line-height: 1.2;
  text-align: left;
  margin: 0 0 50px 0;
  padding-left: 115px;
  color: #085f09;

  &:hover {
    transform: scale(1.5);
  }
}

.header__icon {
  width: 50px;
  height: 50px;
  padding-left: 10px;
}

.header__span-accent {
  font-family: "Prompt", "Arial", "Helvetica", sans-serif;
  font-size: clamp(32px, 5vw, 120px);
  font-weight: 500;
  line-height: 1.2;
  display: block;
  text-align: right;
  padding-right: 115px;
  color: #085f09;
}

.header__paragraph {
  font-family: "Mulish", "Arial", "Helvetica", sans-serif;
  font-size: clamp(16px, 5vw, 20px);
  font-weight: 300;
  line-height: 1.2;
  text-align: center;
  max-width: 600px;
  color: #085f09;
}

.header__buttons {
  display: grid;
  grid-template-areas:
    "about-button contact-button"
    "narrow-button narrow-button";
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  row-gap: 15px;
  max-width: 392px;
  width: 100%;
  margin-bottom: 40px;
}

.header__button {
  font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  max-width: 173px;
  width: 100%;
  padding: 21px 30px;
  justify-self: center;
  align-self: center;
}

.header__button_about {
  grid-area: about-button;
  background-color: #fff;
  color: #000;
  border-radius: 200px;
  border: solid 2px #fff;
  transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out,
    transform 0.35s ease-in-out;
}

.header__button_about:hover {
  background-color: transparent;
  color: #fff;
  transform: scale(1.1);
  cursor: pointer;
}

.header__button_contact {
  grid-area: contact-button;
  background-color: transparent;
  color: #fff;
  border-radius: 200px;
  border: solid 2px #fff;
  transition: backdrop-filter 0.35s ease-in-out, transform 0.35s ease-in-out;
}

.header__button_contact:hover {
  backdrop-filter: blur(10px);
  transform: scale(1.1);
  cursor: pointer;
}

.header__button_narrow {
  grid-area: narrow-button;
  background-color: transparent;
  border: none;
  animation: narrowDown 2s infinite;
}

.header__button_narrow:hover {
  cursor: pointer;
}
