@keyframes narrowDown {
  0% {
    transform: translateY(0);
  }
  15% {
    transform: translateY(-15px);
  }
  30% {
    transform: translateY(0);
  }
  45% {
    transform: translateY(-5px);
  }
  60% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  width: 100%;
  height: 2000px;
  background-color: transparent;
  background-size: cover;
  color: #000;
  overflow: hidden;
}

.header__nav-bar {
  z-index: 1;
  max-width: 1232px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  padding: 10px;
  background-color: transparent;
  /*Animation styles*/
  position: fixed;
  top: 0;
  -webkit-transition: -webkit-transform 0.5s 0.3s ease;
  -moz-transition: -moz-transform 0.7s 0.3s ease;
  -ms-transition: -ms-transform 0.5s 0.3s ease;
  transition: transform 0.5s 0.3s ease;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.header__nav-bar_hidden {
  -webkit-transform: translate(0, -100%);
  -moz-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  transform: translate(0, -100%);
  -webkit-backface-visibility: hidden;
}

.header__nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1232px;
  width: 100%;
  margin: 0;
}

.header__logo {
  max-width: 150px;
  width: 100%;
  max-height: 125px;
  height: 100%;
  padding: 10px;
}

.header__text {
  max-width: 1232px;
  width: 100%;
  margin: 0;
  padding: 200px 0 200px 0;
  color: #000;
}

.header__heading {
  font-family: "Prompt", "Arial", "Helvetica", sans-serif;
  font-size: clamp(32px, 5vw, 120px);
  font-weight: 500;
  line-height: 1.2;
  text-align: left;
  margin: 0 0 50px 0;
  padding-left: 115px;
  color: #085f09;
}

.header__icon {
  width: 50px;
  height: 50px;
  padding-left: 10px;
}

.header__span-accent {
  font-family: "Prompt", "Arial", "Helvetica", sans-serif;
  font-size: clamp(32px, 5vw, 120px);
  font-weight: 500;
  line-height: 1.2;
  display: block;
  text-align: right;
  padding-right: 115px;
  color: #085f09;
}

.header__paragraph {
  font-family: "Mulish", "Arial", "Helvetica", sans-serif;
  font-size: clamp(16px, 5vw, 20px);
  font-weight: 300;
  line-height: 1.2;
  text-align: center;
  max-width: 400px;
  color: #085f09;
  margin-left: 150px;
}

.header__images {
  width: 100%;
  height: 100%;
  max-width: 1440px;
  position: relative;
}

.header__image {
  z-index: -1;
  max-width: 100px;
  width: 100%;
  pointer-events: none;
}

.header__image_1 {
  position: absolute;
  top: -20%;
  right: -10%;
  max-width: 500px;
  width: 100%;
}

.header__image_2 {
  position: absolute;
  top: -12%;
  left: 20%;
  max-width: 450px;
  width: 100%;
}

.header__image_3 {
  position: absolute;
  top: 45%;
  left: 50%;
  max-width: 300px;
  width: 100%;
}

.header__image_4 {
  position: absolute;
  top: 45%;
  left: -1%;
  max-width: 375px;
  width: 100%;
}

.header__image_5 {
  position: absolute;
  top: 55%;
  left: 40%;
  max-width: 200px;
  width: 100%;
}

.header__image_6 {
  position: absolute;
  top: -23%;
  left: 0;
  max-width: 250px;
  width: 100%;
}

.header__image_7 {
  position: absolute;
  top: 15%;
  left: 63%;
  max-width: 230px;
  width: 100%;
}

.header__image_8 {
  position: absolute;
  top: 35%;
  left: 85%;
  max-width: 250px;
  width: 100%;
}

@media screen and (min-width: 1441px) {
  .header__text {
    max-width: 1440px;
  }
}

@media screen and (max-width: 1024px) {
  .header__nav-bar {
    max-width: 900px;
  }
}
