@keyframes change {
  0% {
    background-image: url(../images/FdTTomatoes.jpg);
  }
  15% {
    background-image: url(../images/FdTTomatoes.jpg);
  }
  30% {
    background-image: url(../images/FdT-taller.jpg);
  }
  45% {
    background-image: url(../images/FdT-taller.jpg);
  }
  60% {
    background-image: url(../images/FdTMerch.jpg);
  }
  75% {
    background-image: url(../images/FdTMerch.jpg);
  }
  100% {
    background-image: url(../images/FdTTomatoes.jpg);
  }
}

@keyframes narrowDown {
  0% {
    transform: translateY(0);
  }
  15% {
    transform: translateY(-15px);
  }
  30% {
    transform: translateY(0);
  }
  45% {
    transform: translateY(-5px);
  }
  60% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  width: 100%;
  max-height: 828px;
  height: 100%;
  background: transparent url("../images/FdTTomatoes.jpg") no-repeat center;
  background-size: cover;
  color: #fff;
  animation: change 20s infinite;
}

.header__overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  background-size: cover;
  width: inherit;
}

.header__social {
  display: flex;
  margin: 15px auto;
  max-width: 1232px;
  width: 100%;
}

.header__wrapper {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content;
  column-gap: 3px;
  align-items: center;
  margin-right: 15px;
}

.header__contact {
  font-family: "Mulish", "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  font-size: clamp(10px, 5vw, 14px);
  font-weight: 300;
  line-height: 1.2;
  text-align: left;
  margin: 0;
}

.header__social-media {
  display: flex;
  max-width: 100px;
  width: 100%;
  align-items: center;
  margin-left: auto;
}

.header__social-icon {
  max-width: 20px;
  width: 100%;
  max-height: 20px;
  height: 100%;
  margin-right: 10px;
  transition: transform 0.35s ease-in-out;
}

.header__social-icon_instagram {
  max-width: 16px;
  max-height: 16px;
}

.header__social-icon:hover {
  transform: scale(1.3);
  cursor: pointer;
}

.header__description {
  max-width: 764px;
  width: 100%;
  margin: 40px auto 70px auto;
}

.header__heading {
  font-family: "Prompt", "Arial", "Helvetica", sans-serif;
  font-size: clamp(32px, 5vw, 96px);
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  margin: 0 0 20px 0;
}

.header__paragraph {
  font-family: "Mulish", "Arial", "Helvetica", sans-serif;
  font-size: clamp(16px, 5vw, 20px);
  font-weight: 300;
  line-height: 1.2;
  text-align: center;
  color: #cccccc;
}

.header__buttons {
  display: grid;
  grid-template-areas:
    "about-button contact-button"
    "narrow-button narrow-button";
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  row-gap: 15px;
  max-width: 392px;
  width: 100%;
  margin-bottom: 40px;
}

.header__button {
  font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  max-width: 173px;
  width: 100%;
  padding: 21px 30px;
  justify-self: center;
  align-self: center;
}

.header__button_about {
  grid-area: about-button;
  background-color: #fff;
  color: #000;
  border-radius: 200px;
  border: solid 2px #fff;
  transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out,
    transform 0.35s ease-in-out;
}

.header__button_about:hover {
  background-color: transparent;
  color: #fff;
  transform: scale(1.1);
  cursor: pointer;
}

.header__button_contact {
  grid-area: contact-button;
  background-color: transparent;
  color: #fff;
  border-radius: 200px;
  border: solid 2px #fff;
  transition: backdrop-filter 0.35s ease-in-out, transform 0.35s ease-in-out;
}

.header__button_contact:hover {
  backdrop-filter: blur(10px);
  transform: scale(1.1);
  cursor: pointer;
}

.header__button_narrow {
  grid-area: narrow-button;
  background-color: transparent;
  border: none;
  animation: narrowDown 2s infinite;
}

.header__button_narrow:hover {
  cursor: pointer;
}
