.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
}
