.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  max-width: 1232px;
  width: 100%;
  padding: 10px;
}

.nav__links {
  display: flex;
  column-gap: 15px;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  text-align: left;
}

.nav__links-item {
  transition: transform 0.35s ease-in-out, color 0.35s ease;
}

.nav__links-item:hover {
  transform: scale(1.2);
  color: #fff;
  cursor: pointer;
}

.nav__link {
  text-decoration: none;
  transition: color 0.35s ease-in-out;
  color: #085f09;
  &:hover {
    color: #04bf00;
  }
}

.header__menu-link-container {
  visibility: hidden;
  position: absolute;
}

.header__menu-link {
  max-width: 33px;
  width: 100%;
  max-height: 40px;
  height: 100%;
}

.bar1,
.bar2,
.bar3 {
  margin-top: 3px;
  background: #085f09;
  width: 33px;
  height: 4px;
  position: absolute;
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
}
.bar2 {
  margin-top: 13px;
}
.bar3 {
  margin-top: 23px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

@media screen and (max-width: 991px) {
  .header__nav-container {
    max-width: 800px;
    flex-wrap: wrap;
  }

  .header__menu-link-container {
    visibility: visible;
    order: 2;
    right: 20%;
    top: 40px;
  }

  .header__menu-link {
    display: flex;
    cursor: pointer;
  }

  .nav {
    order: 1;
    padding: 0 0 0 10px;
    justify-content: flex-start;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }

  .nav_deployed {
    max-height: 15em;
  }

  .nav__links {
    flex-direction: column;
    row-gap: 5px;
  }
}
