.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px auto;
  max-width: 1232px;
  width: 100%;
  transition: backdrop-filter 0.7s ease, position 0.7s ease;
}

.nav__fixed {
  position: fixed;
  z-index: 1;
  height: 50px;
  top: 0;
  max-width: 1440px;
  width: 100%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  margin: 0;
  padding-right: 35px;
}

.nav__logo {
  max-width: 150px;
  width: 100%;
  max-height: 125px;
  height: 100%;
}

.nav__logo_fixed {
  max-height: 45px;
  height: 100%;
  max-width: 35px;
  width: 100%;
  margin-left: 35px;
}

.nav__links {
  display: flex;
  column-gap: 15px;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  text-align: left;
}

.nav__links-item {
  transition: transform 0.35s ease-in-out;
}

.nav__link {
  text-decoration: none;
  transition: color 0.35s ease-in-out;
}

.nav__link_fixed {
  color: #fff;
}

.nav__links-item:hover {
  transform: scale(1.2);
  color: #fff;
}

.nav__link:hover {
  color: #fff;
  cursor: pointer;
}
