.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px auto;
  max-width: 1232px;
  width: 100%;
}

.nav__logo {
  max-width: 150px;
  width: 100%;
  max-height: 125px;
  height: 100%;
}

.nav__links {
  display: flex;
  column-gap: 15px;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  text-align: left;
}

.nav__links-item {
  transition: transform 0.35s ease-in-out;
}

.nav__link {
  color: #cccccc;
  text-decoration: none;
  transition: color 0.35s ease-in-out;
}

.nav__link_fixed {
  color: #fff;
}

.nav__links-item:hover {
  transform: scale(1.2);
}

.nav__link:hover {
  color: #fff;
  cursor: pointer;
}
