.page {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  margin: 0 auto;
  background-color: #fff;
  background-image: url(../images/pageGifBackground.gif);
  background-position: center;
  background-size: contain;
  background-attachment: fixed;
}

.page__background {
  z-index: -1;
  position: fixed;

  width: 100%;
  height: 100vh;
}
