.page {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  max-width: 1440px;
  width: 100vw;
  margin: 0 auto;
  background-color: #fff;
  overflow-x: hidden;
}

@media screen and (max-width: 900px) {
  .page {
    padding: 15px;
  }
}

@media screen and (max-width: 900px) {
  .page {
    max-width: 12440px;
  }
}
