@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1232px;
  width: 100%;
  margin-bottom: 90px;
  padding-top: 70px;
}

.services__wrapper {
  display: flex;
  flex-direction: column;
  max-width: 780px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 8px 8px 50px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-bottom: 25px;
}

.services__heading {
  font-family: "Prompt", "Arial", "Helvetica", sans-serif;
  font-size: 43px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  margin: 20px 0 0 0;
  padding: 10px;
}

.services__paragraph {
  font-family: "Mulish", "Arial", "Helvetica", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
  margin: 0 0 20px 0;
  padding: 10px;
}

.services__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 35px;
  column-gap: 30px;
  margin: 0 0 45px 0;
}

.services__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 381px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

.services__image {
  max-width: 381px;
  width: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.services__card-name {
  font-family: "Prompt", "Arial", "Helvetica", sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 1.2;
  text-align: left;
  margin: 30px auto 0 30px;
}

.services__card-text {
  font-family: "Mulish", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
  text-align: left;
  max-width: 318px;
  width: 100%;
  margin: 30px auto 30px 30px;
}

.services__details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  padding: 20px;
  background-color: #fff;
}

.services__title {
  font-family: "Prompt", "Arial", "Helvetica", sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 1.2;
  text-align: left;
  color: #000;
}

.services__product {
  display: grid;
  grid-template-areas:
    "title image"
    "text image";
}

.services__name {
  grid-area: title;
  font-family: "Prompt", "Arial", "Helvetica", sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 1.2;
  text-align: left;
  color: #009e00;
}

.services__description {
  grid-area: text;
  font-family: "Mulish", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
  text-align: left;
  color: #000;
}

.services__product-image {
  grid-area: image;
  max-width: 300px;
  width: 100%;
  max-height: 300px;
  height: 100%;
}

.services__text {
  font-family: "Prompt", "Arial", "Helvetica", sans-serif;
  font-size: clamp(32px, 5vw, 96px);
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  display: flex;
  justify-content: center;
  max-width: 1230px;
  width: 100%;
}

.services__text_type_fixed {
  max-width: 600px;
  width: 100%;
}

.services__text_type_animated {
  color: #009e00;
  transition: color 0.5s ease;
  max-width: 450px;
  text-align: left;
}

.services__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1106px;
  width: 100%;
  column-gap: 60px;
  margin-bottom: 65px;
  padding-left: 20px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 8px 8px 50px rgba(0, 0, 0, 0.1);
}

.services__info:last-of-type {
  padding-left: 0;
  padding-right: 20px;
}

.services__info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services__info-name {
  font-family: "Prompt", "Arial", "Helvetica", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  text-align: left;
  max-width: 490px;
  width: 100%;
  margin: 0;
}

.services__info-text {
  font-family: "Mulish", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
  text-align: left;
  max-width: 490px;
  width: 100%;
}

.services__info-image {
  max-width: 556px;
  width: 100%;
  border-radius: 6px;
}
