@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1232px;
  width: 100%;
  margin-bottom: 90px;
  padding-top: 70px;
}

.services__heading {
  font-family: "Prompt", "Arial", "Helvetica", sans-serif;
  font-size: clamp(32px, 5vw, 96px);
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  margin: 20px 0 0 0;
  padding: 10px;
  color: #085f09;
}

.services__paragraph {
  font-family: "Mulish", "Arial", "Helvetica", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
  margin: 0 0 20px 0;
  padding: 10px;
}

.services__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 35px;
  column-gap: 30px;
  margin: 0 0 45px 0;
}

.services__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 381px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

.services__image {
  max-width: 381px;
  width: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.services__card-name {
  font-family: "Prompt", "Arial", "Helvetica", sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 1.2;
  text-align: left;
  margin: 30px auto 0 30px;
}

.services__card-text {
  font-family: "Mulish", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
  text-align: left;
  max-width: 318px;
  width: 100%;
  margin: 30px auto 30px 30px;
}

.services__details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  row-gap: 45px;
}

.services__title {
  font-family: "Prompt", "Arial", "Helvetica", sans-serif;
  font-size: clamp(32px, 5vw, 60px);
  font-weight: 700;
  line-height: 1.2;
  text-align: left;
  color: #000;
  margin: 0;
  transform: translateX(150px);
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out,
    color 0.55s ease-in-out;
}

.services__title_1 {
  grid-area: title1;
}

.services__title_2 {
  grid-area: title2;
}

.services__title_show {
  color: #085f09;
  transform: translateX(0);
  opacity: 1;
}

.services__item {
  display: grid;
  grid-template-areas:
    "title image"
    "text image";
  grid-template-columns: 450px 225px;
  column-gap: 25px;
  background-color: transparent;
  padding: 0;
  transform: translateX(150px);
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out,
    box-shadow 0.25s ease-in-out, padding 0.25s ease-in-out;

  &:hover {
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
  }
}

.services__item_1 {
  grid-area: item1;
}

.services__item_2 {
  grid-area: item2;
}

.services__item_3 {
  grid-area: item3;
}

.services__item_4 {
  grid-area: item4;
}

.services__item_5 {
  grid-area: item5;
}

.services__item_6 {
  grid-area: item6;
}

.services__item_7 {
  grid-area: item7;
}

.services__item_8 {
  grid-area: item8;
}

.services__item_9 {
  grid-area: item9;
}

.services__item_10 {
  grid-area: item10;
}

.services__item_11 {
  grid-area: item11;
}

.services__item_12 {
  grid-area: item12;
}

.services__item_show {
  transform: translateX(0);
  opacity: 1;
}

.services__name {
  align-self: flex-end;
  grid-area: title;
  font-family: "Prompt", "Arial", "Helvetica", sans-serif;
  font-size: clamp(32px, 5vw, 48px);
  font-weight: 500;
  line-height: 1.2;
  text-align: left;
  color: #067507;
  margin: 0;
}

.services__description {
  grid-area: text;
  font-family: "Mulish", "Arial", "Helvetica", sans-serif;
  font-size: clamp(16px, 5vw, 20px);
  font-weight: 300;
  line-height: 1.2;
  text-align: left;
  color: #000;
  margin: 0;
}

.services__item-image {
  grid-area: image;
  max-width: 300px;
  width: 100%;
  max-height: 300px;
  height: 100%;
  box-shadow: 8px 8px 50px rgba(0, 0, 0, 0.1);
}

.services__item-image_resized {
  max-width: 300px;
  width: 100%;
  max-height: 200px;
  height: 100%;
  align-self: center;
}

.services__text {
  font-family: "Prompt", "Arial", "Helvetica", sans-serif;
  font-size: clamp(32px, 5vw, 96px);
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  display: flex;
  justify-content: center;
  max-width: 1230px;
  width: 100%;
}

.services__text_type_fixed {
  max-width: 600px;
  width: 100%;
}

.services__text_type_animated {
  color: #009e00;
  transition: color 0.5s ease;
  max-width: 450px;
  text-align: left;
}

.services__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1106px;
  width: 100%;
  column-gap: 60px;
  margin-bottom: 65px;
  padding-left: 20px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 8px 8px 50px rgba(0, 0, 0, 0.1);
}

.services__info:last-of-type {
  padding-left: 0;
  padding-right: 20px;
}

.services__info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services__info-name {
  font-family: "Prompt", "Arial", "Helvetica", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  text-align: left;
  max-width: 490px;
  width: 100%;
  margin: 0;
  color: #085f09;
}

.services__info-text {
  font-family: "Mulish", "Arial", "Helvetica", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.2;
  text-align: left;
  max-width: 490px;
  width: 100%;
}

.services__info-image {
  max-width: 556px;
  width: 100%;
  border-radius: 6px;
}

@media screen and (min-width: 1441px) {
  /*TODO: correct colabs overflow and services__title margins*/
  .services {
    max-width: 1440px;
  }

  .services__details {
    display: grid;
    place-items: center;
    grid-template-areas:
      "title1 title1"
      "item1 item2"
      "item3 item4"
      "item5 item6"
      "title2 title2"
      "item7 item8"
      "item9 item10"
      "item11 item12";
    grid-template-columns: auto-fit auto-fit;
    grid-gap: 25px 35px;
  }

  .services__text {
    max-width: 1440px;
  }

  .services__text_type_fixed {
    max-width: 900px;
  }

  .services__text_type_animated {
    max-width: 600px;
  }
}

@media screen and (max-width: 1024px) {
  .services__text {
    max-width: 830px;
  }

  .services__text_type_fixed {
    max-width: max-content;
    margin: 0;
    padding-right: 20px;
  }

  .services__text_type_animated {
    max-width: 310px;
    margin: 0;
    padding: 0;
  }

  .services__info {
    box-shadow: none;
  }
}
